html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#score {
    padding: 20px;
    text-align: center;
}

.game-board {
    display: grid;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.game-board > div {
    width: 10px;
    height: 10px;
}

.tile-background {
    background-color: white;
}

.tile-body {
    background-color: green;
}

.tile-head {
    background-color: darkolivegreen;
}

.tile-food {
    background-color: gold;
}

.tile-border {
    background-color: black;
}